@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&display=swap');
body {
    font-family: "Momo Trust Display", sans-serif;
    font-style: normal;
}
.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    margin: 5px;

}
.header {
    font-weight: 400;
    display: flex;
    justify-content: center;
    height: 20%;
}

.content {
    height: 80%;
    display: flex;
    gap: 50px;
    justify-content: center;
}

.grid {
    border: 1px solid black;
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(11,1fr);
    grid-template-rows: repeat(11,1fr);
}